<footer>
    <div class="f-info"> 
        <div class="f-info-social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-linkedin"></i>
         <div class="f-info-brand"> &copy;Wanderlust Private limited</div>
        <div class="f-info-links">
            <a href="privacy"> privacy</a>
            <a href="/terms">terms</a>
        </div>
        </div>
    </div>


</footer>